.liberacao-formulario {
    display: flex;
    flex-direction: column;
    width: 450px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 1em;
    text-transform: uppercase;
    font-style: initial;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    gap: 1em;   
    border-radius:10px ;
    
    
}

.liberacao-formulario div {
    margin: .4em 0;
    text-align: left;

}

.liberacao-formulario h3 {
    font-size: 30px;

}

.btn-enviar{
    padding: .8em;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    width: 100%;
    background-color: rgb(59, 59, 220);
    color: #fff;
    cursor: pointer;
}
.btn-enviar:hover{
  
    background-color: #11088f;
    color: #dedcdc;
    
}