.relatorio {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 98.9%;
    padding: .5em;
    height: 100vh;

}

.relatorio table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #1e3a8a;
    text-align: center;
}

.btns button {
    padding: 1em;
    border-radius: 10px;
    border: none;
    background-color: #aab8f0;
    color: #002896;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 300ms;

}

.btns {
    text-align: center;
    width: 99%;

}

.btns button:hover {
    padding: .9em;
}

.btns,
.btns button {
    margin: 1em;

}


.container {
    padding-top: 1em;
    width: 100%;
    background-color: #b9c5f5;
    text-align: center;



}

label {
    margin-left: 1em;
    margin-right: .5em;
    color: #002896;
    font-size: 18px;


}

.container input,
.container select {
    font-size: 16px;
    outline: none;
    border-radius: 6px;
    border: none;
    width: 100px;
    padding: .2em;
    margin-right: 1em;
}



.container h3 {

    color: #002896;
    font-size: 18px;
}

.container strong {
    font-size: 19px;
    color: #0f38a7;
    background-color: #eeeeee;
    padding: .3em;
    border-radius: 10px;
    margin-right: .5em;

}

.loteOrdem {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;


}

:disabled {
    color: #000;
    background-color: #fff;
    font-weight: 500;
}

td button {
    padding: .5em;
    border-radius: 10px;
    border: none;
    background-color: #030f3d;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;



}

td button:hover {
    background-color: #273055;
    color: #bababa;
}


@media (width:768px)and (max-width:1024px) {


    .relatorio table {

        width: 99%;

    }

    .btns button {
        padding: 1em;
        margin: 0.5em;

    }

    .container {

        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: start;
        gap: 1em;

    }



    label {
        margin-left: 1em;
      


    }

    .container input,
    .container select {
        font-size: 16px;
        outline: none;
        border-radius: 6px;
        border: none;
        width: 150px;
        padding: .2em;
        margin-right: 1em;
        text-align: center;
        
    }

    .loteOrdem {
   
   
    
        
        width: 300px;

}
}

