main {
   
    max-width: 1950px;
    min-width: 320px;
    display: flex;
    flex-direction: column;

}


section {
    
    background-color: rgb(211, 212, 214);

}

@media (min-width:320px) {
    main {
        width: 100vw;
    }





}